beautifulsoup4
email-validator
flask
flask-bcrypt
flask-dance
flask-login
flask-sqlalchemy
flask-wtf
gunicorn
oauthlib
openai
pdfminer-six
psycopg2-binary
pyjwt
pypdf2
reportlab
requests
stripe
trafilatura
werkzeug
wtforms